.graph-view-container {
    margin:0 auto;
    font-size:12pt;
    display: flex;
    flex-direction:row;
    justify-content:start;
    align-items:stretch;
    border:1px solid #999;
    border-radius: 10px;
    margin:10px;
    width:fit-content;
    position:relative;
}

.graph-view-container .graph-view-caption {
    padding:15px;
    text-align:left;
    font-size:14pt;
    font-weight:600;
    background-color:#999999;
    color:#FFFFFF;
    position:absolute;
    width:calc(100% - 30px);
    border-radius:10px 10px 0 0;
}

.graph-view-container canvas {
    width:calc(100% - 330px);
    height:calc(100% - 55px);
}

.graph-view-container .graph-view-control,
.graph-view-container .graph-node-control {
    max-width:330px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.graph-view-container .graph-view-control {
    overflow-y: auto;
    overflow-x: hidden;
}

.graph-view-container .graph-view-control-row-container {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    margin-top:15px;
    width:100%;
}

.graph-view-container .graph-node-control .graph-view-control-row-container {
    width:calc(100% - 20px);
}

.graph-view-container canvas,
.graph-view-container .graph-view-control {
    margin-top:55px;
}

.graph-view-container .graph-view-control {
    border-left:1px dashed #AAAAAA;
}

.graph-view-container h4 {
    margin:0px;
    color:#FFFFFF;
    padding:10px 20px 10px 20px;
    background-color:#87dbb4;
    width:calc(100% - 40px);
}

.graph-view-container input {
    border-radius:0px;
    border:1px solid #AAA;
    padding:5px;
}

.graph-view-container label {
    margin-top:10px;
}


.graph-view-container input[type=text] {
    width:calc(100% - 32px);
}

.graph-view-container input[type=text]:focus {
    outline: #87dbb4;
    border: 1px solid #2acc80;
    border-radius: none;
}

.graph-view-container input[type=button] {
    border:none;
    color:#FFFFFF;
    background-color:#7dbaff;
    font-weight:600;
    font-size:12pt;
    padding:10px 20px;
    margin:10px;
    transition:0.1s;
}

.graph-view-container input[type=button]:hover {
    background-color:#a3ceff;
}

.graph-view-container input[type=button]#graph-view-close {
    border-radius:5px;
    user-select: none;
    font-size:12pt;
    font-weight:initial;
    position:absolute;
    text-align:center;
    width:30px;
    line-height:30px;
    padding:0;
    top:3px;
    right:0;
    background-color: #ff8b8b;
    color:#FFFFFF;
    opacity:0.5;
}

.graph-view-container input[type=button]#graph-view-close:hover {
    opacity:1.0;
}

.graph-view-container .graph-node-control .graph-view-control-row-container *>* {
    margin-right:10px;
    display: inline-block;
}

.graph-view-container .graph-node-control .graph-view-control-row-container *>*:last-child {
    margin-right:0;
}

.graph-view-container .graph-node-control .graph-view-control-row-container *>input {
    width:65px;
}

.graph-view-container .graph-node-control .graph-view-control-row-container *>label {
    margin-top:0px;
}

.graph-view-container .graph-node-control {
    margin-bottom:10px;
}

.graph-view-container .graph-node-control>:not(h4) {
    margin-left: 10px;
}

.graph-view-container .graph-node-control>table {
    display:block;
    border-collapse:collapse;
    width:calc(100% - 20px);
    height:100%;
    max-height:300px;
    overflow-x:hidden;
    overflow-y:auto;
    border:1px dashed #AAAAAA;
}

.graph-view-container *::-webkit-scrollbar {
    border-radius:5px;
    width:5px;
}

.graph-view-container *::-webkit-scrollbar-thumb {
    border-radius:5px;
    background-color:#00000055;
    width:5px;
}

.graph-view-container .graph-node-control>table tr {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}

.graph-view-container .graph-node-control>table td,
.graph-view-container .graph-node-control>table th  {
    background-color:#CCCCCC;
    text-align:center;
    vertical-align:middle;
    padding:5px;
    max-width:calc(100% - 10px);
    width:100%;
    text-overflow:ellipsis;
    overflow:hidden;
    font-size:10pt;
}

.graph-view-container .graph-node-control>table td>* {
    display:block;
    width:100%;
    height:100%;
    text-align:inherit;
}

.graph-view-container #node-links input {
    font-size:inherit;
    padding:2px;
    margin:0px;
}

.graph-view-container #node-links input[type=text] {
    width:calc(100% - 5px);
    height:calc(100% - 5px);
}